.navbar{
    margin-bottom: 0;
}

.navbar-inverse{
    background-color: #1b1b1b;
    border: none;
}

.navbar .container-fluid{
    width: 65%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar-nav>li>a {
    padding-left: 35px;
}

html, body{
    height: 100%;
    background-color: #e6e6e6;
}

#banner{
    width: 100%;
    height: 100%;
    min-height: 650px;
    background-image: url("../img/banner.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    margin-top: -80px;
    z-index: 2;
}

.bannercaption{
    position: relative;
    margin-top: 80px;
    top: 40%;
    text-align: center;
}

.headers{
    text-align: center;
}

.headerworkcontact{
    margin-top: 100px;
    margin-bottom: 75px;
}

.workrows{
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}

/* Hover over projects, props to http://www.cssscript.com/pure-css3-animated-text-overlay-on-hover/ */

.work-img img{
    width: 100%;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.workrows .hoverwork {
  background-color: #1b1b1b;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  max-width: 300px;
  width: 100%;
  height:100%;
  margin-left: 3.2em;
  padding-top: 10%;
  padding-left: 20px;
  padding-right: 20px;
}

.workrows:hover .hoverwork { opacity: 0.97; }

.workrows .overtext {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
     transform: translateY(40px);
    -webkit-transform: translateY(40px);
}

.workrows .title {
    color: #e60000;
    text-align: center;
    font-family: 'adamcg', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}

.workrows:hover .title,
.workrows:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

.workrows .tagline {
    text-align: center;
    margin-top: 5%;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2em;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
}

.workrows:hover .tagline,
.workrows:focus .tagline {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}

.headerabout{
    margin-top: 50px;
    margin-bottom: 75px;
}

.bodytext{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 650px;
    min-width: 290px;
}

.cvbtn{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.cvbtndsgn{
    color: #f2f2f2;
    font-family: 'adamcg', sans-serif;
    background-color: #1b1b1b;
    padding: 15px 15px;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #e60000;
}

.img-circle{
    border-radius: 50%;
}

.img2{
    margin-top: 100px;
}


/* Footer */

footer{
    height: 140px;
    background-color: #1b1b1b;
    margin-top: 100px;
    padding: 20px;
}

#socialfooter{
    padding-left: 0;
    display: block;
    text-align: center;
}

#socialfooter li{
    display: inline-block;
    margin: 0 15px;
}

#socialfooter a {
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: inline-block;
}

#socialfooter a i{
    color: #f2f2f2;
    padding-top: 9px;
    font-size: 32px;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

#socialfooter a i:hover{
    color: #e60000;
}    

/* Typography */

.navbar-inverse .navbar-nav>li>a {
    color: #f2f2f2;
    font-family: 'adamcg', sans-serif;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: #e60000;
}

.navbar-inverse .navbar-nav>li>a:focus{
    outline: none;
}


.navbar-inverse .navbar-brand {
    font-family: 'adamcg', sans-serif;
    letter-spacing: 0.15em;
    font-size: 20px;
    font-weight: 200;
    color: #f2f2f2;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #f2f2f2;
}

#mack{
    color: #e60000;
}

@font-face {
    font-family: 'adamcg';
    src: url('custom_font/adam.cg_pro-webfont.eot');
    src: url('custom_font/adam.cg_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('custom_font/adam.cg_pro-webfont.woff2') format('woff2'),
         url('custom_font/adam.cg_pro-webfont.woff') format('woff'),
         url('custom_font/adam.cg_pro-webfont.ttf') format('truetype'),
         url('custom_font/adam.cg_pro-webfont.svg#adam.cg_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1{
    color: white;
}

h2{
    font-family: 'adamcg', sans-serif;
    font-size: 2.75em;
    color: #333;
    letter-spacing: 0.1em;
}

p{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5em;
    line-height: 38px;
}

footer p{
    color: #f2f2f2;
    font-size: 1.1em;
    text-align: center;
}

/* Media Queries */


@media only screen and (min-width: 1025px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 1) {
    .navbar .container-fluid{
    width: 75%;
    }

    .workrows .hoverwork {
        margin-left: 1em;
    }


}


@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .navbar .container-fluid{
        width: 90%;
    }

    #banner{
        background-attachment: scroll;
    }

    .workrows{
        width: calc(100% / 3);
        margin-bottom: 25px;
    }

    .workrows:hover .hoverwork { opacity: 0; }

}


@media only screen and (max-width: 767px){
    .navbar .container-fluid{
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    }
    .navbar{
        border: none;
    }
    .container-fluid{
        padding-top: 0;
        padding-bottom: 0;
    }    
    .navbar-toggle {
        margin-top: 22px;
    }
    .navbar-brand {
        padding: 30px 15px;
        height: 80px;
    }
    .navbar-nav{
        margin: 0;
    }
    .navbar-collapse.in{
        background-color: #e60000;
    }
    .navbar-collapse{
        padding-right: 0;
        padding-left: 0;
    }
    .nav>li{
        padding: 10px;
        text-align: center;
    }

    .navbar-nav>li>a {
        padding-left: 0;
    }

    .navbar-inverse .navbar-nav>li>a:hover{
        color: #f2f2f2;
    }

    #banner{
        background-image: url("../img/mobilebanner.jpg");
        background-attachment: scroll;
    }

    .workrows{
        width: calc(100% / 2);
        margin-bottom: 25px;
    }

    .workrows:hover .hoverwork { opacity: 0; }

    .headerabout{
    margin-top: 75px;
    }


}

/* Credit to CSS-Tricks */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


